h1 {
  display: inline-block;
}
.users {
  display: flex;
  flex-direction: column;
}

.user {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  background-color: white;
  transition: background-color 1s;
  transition-delay: 0.2s;
}
.user:hover {
  background-color: rgb(188, 188, 188);
}

.username {
  font-weight: bold;
}

.role {
  margin-top: 5px;
}

button {
  margin-top: 10px;
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.user button:hover {
  background-color: #921c27;
}
.register-btn {
  margin-left: 30px;
  padding: 5px 15px;
  background-color: rgb(39, 219, 39);
  transition: background-color 1s;
}
.register-btn:hover {
  background-color: rgb(48, 181, 48);
}
.currentTime {
  margin-left: 20px;
}
.round {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: beige;
  border: 2px solid black;
}
.round:hover {
  background-color: rgb(239, 239, 179);
}